@import "../static/Config.scss";
.favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  .fav-container {
    @include scroll-bar;
    @include shadow-card;
    @media (max-width: $very-small-screen-res) {
      grid-template-columns: 100%;
      width: 90%;
      border-bottom-left-radius: 0px;
    }
    @media (min-width: $very-small-screen-res) and (max-width: $small-screen-res - 1) {
      grid-template-columns: 1fr 1.5fr;
      width: 90%;
    }
    @media (min-width: $small-screen-res) and (max-width: $medium-screen-res - 1) {
      grid-template-columns: 0.75fr 1fr;
      width: 90%;
    }
    margin-top: 5vh;
    width: 100%;
    max-width: 1200px;
    height: 85vh;
    background-color: #020219;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
  }
  &__alert {
    margin-top: 3vh;
  }
}
