// colors

$primary-color: #fff;
$background-color: #15232e;
$navbar-color: #1f2935;
$border-color: #818790;
$hover-color: rgb(218, 218, 218);
$hover-red-color: #ff3d57;
$background-dark-button: #2c3641;
$background-card-color: #1f2935;
$success-color: rgb(22, 175, 22);
$background-info-button: #0037fa;
$background-info-hover-button: darken($background-info-button, 7%);
$favourite-button-color: #22cce2;
$right-side-color: #192029;
$star-color: #fdbf5e;
$hover-favourite-button-color: darken($favourite-button-color, 7%);
$remove-button-color: #ff3d57;
$hover-remove-button-color: darken($remove-button-color, 7%);
$fail-color: rgb(226, 59, 59);
$star-background-color: darken($background-card-color, 15%);

// screen resolutions
$big-screen-res: 1920px;
$medium-screen-res: 1366px;
$small-screen-res: 720px;
$very-small-screen-res: 375px;

// mixins

@mixin sidebar-card {
  @media (max-width: $very-small-screen-res - 1) {
    width: 70%;
  }
  @media (min-width: $very-small-screen-res) {
    width: 90%;
  }
  background-color: $background-card-color;
  border-radius: 10px;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin scroll-bar {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #111111;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@mixin shadow-card {
  box-shadow: 0px 4px 6px 1px rgb(23 23 23 / 75%);
  -webkit-box-shadow: 0px 4px 6px 1px rgb(23 23 23 / 75%);
  -moz-box-shadow: 0px 4px 6px 1px rgb(23 23 23 / 75%);
}
