@import "../static/Config.scss";

.books-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  @media (max-width: $medium-screen-res - 1) {
    grid-template-columns: 100%;
  }
  @media (min-width: $medium-screen-res) {
    grid-template-columns: 1fr 2fr;
  }
  &__loading {
    margin-top: 3vh;
    margin-left: 3vh;
    max-height: 50px;
  }
}
