@import "../static/Config.scss";

.element {
  display: grid;
  @media (max-width: $small-screen-res - 1) {
    grid-template-columns: 2fr 2fr 1fr;
  }
  @media (max-width: $medium-screen-res) {
    width: 90%;
  }
  @media (max-width: $very-small-screen-res) {
    display: flex;
    flex-direction: column;
  }
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 1rem;
  border-bottom: 1px solid $border-color;
  &__image {
    height: 90%;
    width: 90%;
    @media (max-width: $very-small-screen-res) {
      width: 100%;
    }
    transition: 0.66s;
    &:hover {
      height: 96%;
      width: 96%;
      transition: 0.66s;
    }
  }
  &__description {
    display: grid;
  }
  &__wrap {
    @include flex-center-column;
    justify-content: center;
  }
  &__functions {
    @include flex-center-column;
    gap: 1.33vh;
    justify-content: center;
  }
  &__link {
    color: $primary-color;
    text-decoration: none;
    font-size: 1.77rem;
    transition: 0.66s;
    &:visited {
      color: $primary-color;
    }
    &:hover {
      transition: 0.66s;
      color: $hover-red-color;
    }
    @media (max-width: $very-small-screen-res) {
      margin-bottom: 25px;
    }
  }
  .MuiRating-iconEmpty {
    color: $star-background-color;
  }
}
