@import "../static/Config.scss";
.details {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $background-card-color;
  border-radius: 10px;
  grid-template-columns: 60% 40%;
  display: grid;
  position: relative;
  margin-top: 5vh;
  &__back {
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none;
    color: $primary-color;
    display: flex;
    &:hover {
      color: $hover-color;
    }
  }
  .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
    &__image {
      width: 300px;
    }
    .MuiRating-iconEmpty {
      color: lighten($star-background-color, 25%);
    }
    .MuiRating-root {
      font-size: 3rem;
    }
  }
  .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $navbar-color;
    /* Scrollbar */
    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-track {
      background: #111111;
    }
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    &__title {
      letter-spacing: 0.3rem;
    }
    &__text {
      letter-spacing: 0.15rem;
      text-align: center;
      max-height: 500px;
      overflow: auto;
    }
  }
  .modal {
    position: "absolute";
    width: 400px;
    background-color: $background-card-color;
    border: "2px solid #000";
  }
}
