@import "../static/Config.scss";

.element {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 1rem;
  border-bottom: 1px solid $border-color;
  &__image {
    height: 90%;
    width: 90%;
    transition: 0.66s;
    &:hover {
      height: 96%;
      width: 96%;
      transition: 0.66s;
    }
  }
  &__description {
    display: grid;
  }
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__functions {
    display: flex;
    gap: 1.33vh;
    flex-direction: column;
    justify-content: center;
  }
  &__link {
    color: $primary-color;
    text-decoration: none;
    font-size: 1.77rem;
    transition: 0.66s;
    &:visited {
      color: $primary-color;
    }
    &:hover {
      transition: 0.66s;
      color: $hover-red-color;
    }
  }
  .MuiRating-iconEmpty {
    color: $star-background-color;
  }
}
