@import "../static/Config.scss";
.details {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $background-card-color;
  border-radius: 10px;
  grid-template-columns: 60% 40%;
  display: grid;
  margin-top: 5vh;
  .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
    &__image {
      width: 300px;
    }
    .MuiRating-iconEmpty {
      color: $star-background-color;
    }
    .MuiRating-root {
      font-size: 3rem;
    }
  }
  .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $navbar-color;
    letter-spacing: 0.15rem;
  }
}
