@import "../static/Config.scss";
.modal {
  @include flex-center-column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25vw;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: lighten($background-card-color, 10%);
  border: 2px solid #000;
  &__back {
    position: absolute;
    display: flex;
    align-items: center;
    height: 5%;
    cursor: pointer;
    left: 5px;
    top: 5px;
  }
  .submit-form {
    @include flex-center-column;
    width: 80%;
    &__input {
      width: 90%;
      margin-top: 2vh;
    }
    .MuiFormLabel-root {
      color: $primary-color;
    }
    .MuiInputBase-input {
      color: $primary-color;
      &::placeholder {
        color: $primary-color;
      }
    }

    .MuiInput-underline {
      &:before {
        border-bottom: 1px solid lighten($hover-red-color, 10%);
      }
      &:after {
        color: darken($hover-red-color, 20%);
      }
    }
    &__button {
      margin-top: 25px;
    }
  }
}
