@import "../static/Config.scss";

.sidebar {
  @include flex-center-column;
  &__title {
    font-size: 1.5rem;
  }
  &__filter-container {
    @include sidebar-card;
  }
  &__filters {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1vh;
    padding: 10px;
  }
  &__inside-title {
    text-align: center;
  }
  .MuiCheckbox-root {
    color: #3f51b5;
  }
  &__sort {
    @include sidebar-card;
    @include flex-center-column;
    margin-top: 3vh;
    padding-bottom: 2vh;
    .MuiFormControl-root,
    .MuiFormLabel-root,
    .MuiInputBase-input {
      color: $primary-color;
    }
    .MuiFormControl-root {
      padding-left: 0.75em;
      border: 1px solid $hover-red-color;
    }
    .MuiSelect-icon {
      color: $primary-color;
    }
    .MuiInput-underline::after {
      border-color: transparent;
    }
  }
}
