@import "../static/Config.scss";

.sidebar {
  @include scroll-bar;
  @include flex-center-column;
  &__title {
    font-size: 1.5rem;
    order: 1;
  }
  &__sub-title {
    display: flex;
    justify-content: center;
  }
  &__filter-container {
    @include sidebar-card;
    @include shadow-card;
    padding-bottom: 15px;
    order: 2;
    margin-top: 2vh;
  }
  &__option {
    @media (max-width: $very-small-screen-res - 1) {
      width: 100%;
    }
  }
  &__filters {
    display: grid;
    row-gap: 1vh;
    padding: 10px;
    overflow: auto;
    max-height: 150px;
    @media (min-width: $very-small-screen-res) {
      grid-template-columns: 50% 50%;
    }
    @media (max-width: $very-small-screen-res - 1) {
      grid-template-columns: 100%;
      max-height: 200px;
    }
    .MuiCheckbox-colorSecondary.Mui-checked {
      color: $remove-button-color;
    }
  }
  &__inside-title {
    display: flex;
    justify-content: center;
  }
  .MuiCheckbox-root {
    color: $favourite-button-color;
  }
  &__sort {
    @include sidebar-card;
    @include flex-center-column;
    @include shadow-card;
    order: 3;
    margin-top: 2vh;
    padding-bottom: 2vh;
    .MuiFormControl-root,
    .MuiInputBase-input {
      color: $primary-color;
    }
    .MuiFormControl-root {
      padding-left: 0.75em;
      border: 1px solid $hover-red-color;
    }
    .MuiSelect-icon {
      color: $primary-color;
    }
    .MuiInput-underline::after {
      border-color: transparent;
    }
    label + .MuiInput-formControl {
      margin-top: 0;
    }
  }
  &__add-book {
    @include sidebar-card;
    @include flex-center-column;
    @include shadow-card;
    order: 4;
    margin-top: 2vh;
    padding-bottom: 10px;
    .MuiButtonBase-root:last-of-type {
      margin-top: 15px;
    }
    .MuiButton-containedSecondary {
      background-color: $background-info-button;
      &:hover {
        background-color: $background-info-hover-button;
      }
    }
  }
  &__icon {
    color: $icon-gray-color;
  }
}
